body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
section {
    padding: .5em;
    margin: .5em;
}
@media screen and (min-width: 600px) {
    body {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 600px) {
    body {
        font-size: 13px;
    }
}

/* Player Move Section */

section#player-move-section {
    border: solid 1px black;
}

div#player-moves {
    display: flex;
}

div#player-moves .move-choice {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1.3em;
    font-weight: 700;

    margin: 0 1rem;
}
  
button.move-button {
    background: none;
    border: none;
    padding: 0;
    font-size: 3em;
    cursor: pointer;
    outline: inherit;
    transition: transform 100ms linear;
}
button.move-button:hover {
    transform: scale(1.1);
}

button#rock-button {color: dodgerblue;}
button#paper-button {color: violet;}
button#scissors-button {color: yellowgreen;}

/* Round result section */
section#round-result-section {
    border: solid 1px black;
}

span#player-move-display {
    color: forestgreen;
}

span#computer-move-display {
    color: firebrick;
}

/* Game score/win display section */

section#score-section {
    border: solid 1px black;
    flex-shrink: 2;
}

div#game-win-display {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    font-weight: 700;
    font-size: 2em;
    color: chocolate;
}

button#reset-button {
    padding: .3em;
    font-size: .6em;
}