body {
    max-height: 500px;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 1.6em;
}

section {
    border: solid 1px black;
    border-radius: 1em;
    box-shadow: 5px 6px #b7b7b7;

    padding: .5em;
    margin: .5em;
}
@media screen and (min-width: 600px) {
    body {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 700px) {
    body {
        font-size: 13px;
    }
}


/* Player Move Section */

#player-moves {
    display: flex;
}

#player-moves .move-choice {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1.1em;
    font-weight: 700;

    margin: 0 1.5em;
}
  
button.move-button {
    background: none;
    border: none;
    outline: inherit;
    cursor: pointer;

    font-size: 3em;    
    padding: 0;

    transition: transform 100ms linear;
}
button.move-button:hover {
    transform: scale(1.1);
}

/* Move button colors */
#rock-button {color: dodgerblue;}
#paper-button {color: violet;}
#scissors-button {color: yellowgreen;}
#rock-button.disabled, #paper-button.disabled, #scissors-button.disabled {
    color: gray;
}

/* Round result section */

span#player-move-display {
    color: forestgreen;
}

span#computer-move-display {
    color: firebrick;
}

/* Game score/win display section */

section#score-section {
    /* flex: 2 0; */
}

div#game-win-display {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    font-weight: 700;
    font-size: 2em;
    color: chocolate;
}

button#reset-button {
    padding: .3em;
    font-size: .6em;
}

/* Settings section */

section#settings-section {
    background: #d5d5d5;
}